<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForceTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ForceTouchWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>afdsaf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6646EB741E6F99DA00365B86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6646EB8A1E6FA41C00365B86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665727C71E6D099B009BC731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667980DE1E6EACE400B25992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66914C331E6FA9C400CF20D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66914C471E6FA9E400CF20D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66914C621E6FACC300CF20D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66914C771E6FB0C900CF20D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
